header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0.5em 1em;
  }
  
  body {
    padding-top: 100px; /* Adjust this value to match your header's height */
  }
  
  header .logo a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  
  header .navigation {
    margin-left: right; 
  }
  
  header .navigation a {
    /* margin-left: 1em; */
    text-decoration: none;
    color: #333;
  }
  
  header .navigation a:not(:last-child):after {
    content: '|';
    margin-left: 1em;
  }
  
  