/* listings.css */
body {
    overflow: hidden; /* Hide the scroll wheel */
}

.mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Adjusted to a column layout */
    align-items: center;
    padding: 20px;
    background-color: #4b5563; /* Updated to match the background color from Next.js */
}

.bodyContainer {
    margin-top: 100px; /* Adjusted margin-top to leave space for the header */
    display: flex;
    gap: 20px;
}

.filterContainer {
    height: 65%;
    width: 15%;
    background-color: #2d3748; /* Updated to match the background color from Next.js */
    padding: 15px;
    border-radius: 10px;
}

.listingContainer {
    height: 65%;
    width: 45%;
    flex-grow: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-radius: 10px;
    /* Hide the scrollbar */
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.listingContainer::-webkit-scrollbar {
    width: 12px; /* Adjust the width as needed */
}

.listingContainer::-webkit-scrollbar-thumb {
    background-color: transparent; /* Adjust the background color as needed */
}

.listingContainer::-webkit-scrollbar-track {
    background-color: transparent; /* Adjust the background color as needed */
}

.listingCard {
    background-color: #2d3748; /* Updated to match the background color from Next.js */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.listingImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.listingTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.5rem;
    color: rgb(255, 255, 255);
}

.listingInfo {
    color: rgb(107, 114, 128); /* Updated to match the text color from Next.js */
    margin-top: 0.5rem;
}

.listingButton {
    background-color: #48bb78; /* Updated to match the background color from Next.js */
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
